body {
 font-family: Arial, sans-serif;
 text-align: center;
 background-color: #f0fdf4;
 color: #1b4332;
}

header {
 background-color: #95d5b2;
 padding: 40px;
}

button {
 background-color: #52b788;
 color: white;
 border: none;
 padding: 10px 20px;
 border-radius: 5px;
 cursor: pointer;
}

section {
 background-color: #d8f3dc;
 margin: 20px;
 padding: 20px;
 border-radius: 10px;
}
